.Button {
    display: flex;
    align-items: center;
    background: green;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 8px 50px;
    margin: 20px auto;
    cursor: pointer;
}

.Button:disabled {
    background: #808080;
    cursor: default;
}