.Filter {
    display: flex;
    justify-content: center;
}

.Filter-Item input[type=radio] {
    display: none;
}
.Filter-Item label {
    background: #fff;
    padding: 10px 15px;
    border: 1px solid #999;
    border-right: none;
    cursor: pointer;
    user-select: none;
    line-height: 1;
    display: flex;
    align-items: center;
}

.Filter-Item:first-child label {
    border-radius: 6px 0 0 6px;
}
.Filter-Item:last-child label {
    border-radius: 0 6px 6px 0;
    border-right: 1px solid #999;
}

/* Checked */
.Filter-Item input[type=radio]:checked + label {
    background: #a3eaa3;
}
